services:
  - type: web
    name: tolgee-backend
    # Use Dockerfile so Render builds the container image. The Dockerfile builds the server-app bootJar
    dockerfilePath: Dockerfile
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: TOLGEE_JWT_SECRET
        sync: false
      - key: TOLGEE_FRONTEND_URL
        fromService:
          name: tolgee-frontend
          type: web
          property: url
    autoDeploy: true
    plan: starter

  - type: web
    name: tolgee-frontend
    runtime: static
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    autoDeploy: true
